.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 0 22.5px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
}