.nav {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: $color-black;
  display: inline-block;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    cursor: pointer;
    & + & {
      margin-left: 45px;
    }

    &.is-active {
      font-weight: bold;
      color: $color-azure;
    }
  }
}