.button {
  cursor: pointer;
  font-size: 17px;
  line-height: 138.9%;
  text-align: center;
  letter-spacing: 0.02em;

  &--primary {
    border: 1px solid $color-azure;
    color: $color-white;
    background-color: $color-azure;

    &:hover {
      border: 1px solid $color-light-azure;
      background-color: $color-light-azure;
    }

    &-ghost {
      border: 1px solid $color-azure;
      color: $color-azure;
      background-color: $color-white;

      &:hover {
        color: $color-white;
        background-color: $color-azure;
      }
    }
  }

  &--secondary {
    background-color: $color-black;
    color: $color-white;
    font-weight: 500;
    border: 1px solid $color-black;

    &-ghost {
      background-color: $color-white;
      color: $color-black;
      border: 1px solid $color-black;
      font-weight: 500;

      &:hover {
        background-color: $color-black;
        color: $color-white;
      }
    }
  }

  &--ghost {
    color: $color-azure;
    background-color: inherit;
    border: none;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: $color-azure;
      transition: width 0.5s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  &--size {
    &-l {
      height: 68px;
      line-height: 68px;
      padding: 0 50px;
    }

    &-m {
      height: 62px;
      line-height: 62px;
      padding: 0 62px;
    }

    &-s {
      padding: 0;
      width: 41px;
      height: 41px;
      line-height: 41px;
    }
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
}