.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  &__image {
    width: 25px;
    height: 25px;
    margin-right: 11px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

  }
}