.shop {
  padding-top: 100px;

  &__info {
    margin-bottom: 50px;
  }

  &__title {
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 65px;
  }

  &__tabs {
    margin-bottom: 50px;
  }

}