.header{
  position: relative;
  z-index: 2 ;
  &__container{
    padding-top: 51px;
    display: flex;
    align-items: center;
  }
  &__logo{
    margin-right: 146px;
  }
  &__nav{
    margin-right: 170px;
  }
  &__bag{
    margin-left: auto;
  }
}