@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import "@/assets/styles/utility/fonts";
@import "@/assets/styles/utility/normalize";
@import "@/assets/styles/vars/colors";
*{
  box-sizing: border-box;
}
html{
  scrollbar-gutter: stable;
}
body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $color-black;
  background-color: $color-white;
}
.container{
  max-width: 1600px;
  padding: 0 245px;
  margin: 0 auto;
}

@import "@/assets/styles/sections/header";
@import "@/assets/styles/blanks/navigation";
@import "@/assets/styles/blanks/card-product";
@import "@/assets/styles/blanks/table-products";
@import "@/assets/styles/blanks/checkout-table";
@import "@/assets/styles/UI/logo";
@import "@/assets/styles/UI/button";
@import "@/assets/styles/UI/link";
@import "@/assets/styles/UI/tabs";
@import "@/assets/styles/UI/tabs-colors";
@import "@/assets/styles/UI/bag";
@import "@/assets/styles/UI/title";
@import "@/assets/styles/UI/input";
@import "@/assets/styles/UI/form";
@import "@/assets/styles/UI/radio";
@import "@/assets/styles/pages/home-pages";
@import "@/assets/styles/pages/shop-pages";
@import "@/assets/styles/pages/product-pages";
@import "@/assets/styles/pages/cart-pages";
@import "@/assets/styles/pages/checkout-page";