@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import "@/assets/styles/utility/fonts";
@import "@/assets/styles/utility/normalize";
@import "@/assets/styles/vars/colors";
*{
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: $color-black;
}
.container{
  max-width: 1600px;
  padding: 0 245px;
  margin: 0 auto;
}

@import "@/assets/styles/sections/header";
@import "@/assets/styles/blanks/navigation";
@import "@/assets/styles/UI/logo";
@import "@/assets/styles/UI/call";
@import "@/assets/styles/UI/button";
@import "@/assets/styles/UI/link";
@import "@/assets/styles/UI/tabs";
@import "@/assets/styles/UI/bag";